In [1]:
import pandas as pd

#### 1. Data Loading and Initial Exploration:
- Load the selected dataset into your preferred data analysis environment.
- Explore the structure of the dataset (number of rows and columns, data types, etc.).
- Examine the first few rows of the dataset to understand its contents.

## Column Descriptions

### columns of Reviews data

In [2]:
df_reviews_dic = pd.read_csv('../Airbnb Data/Reviews_data_dictionary.csv')
df_reviews_dic

         Field  Description
0   listing_id   Listing ID
1    review_id    Review ID
2         date  Review date
3  reviewer_id  Reviewer ID

### Reading reviews data

In [3]:
df_reviews = pd.read_csv('../Airbnb Data/reviews.csv', index_col='review_id', parse_dates=['date'])
df_reviews.head()

           listing_id       date  reviewer_id
review_id
330265172       11798 2018-09-30     11863072
330103585       15383 2018-09-30     39147453
329985788       16455 2018-09-30      1125378
330016899       17919 2018-09-30    172717984
329995638       26827 2018-09-30     17542859

In [4]:
df_reviews.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 5373143 entries, 330265172 to 730320626
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   listing_id   5373143 non-null  int64
 1   date         5373143 non-null  datetime64[ns]
 2   reviewer_id  5373143 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 164.0 MB

In [5]:
df_reviews.describe()

         listing_id                           date   reviewer_id
count  5.373143e+06                        5373143  5.373143e+06
mean   1.602989e+07  2018-06-26 06:57:54.259292160  9.808133e+07
min    2.577000e+03            2008-11-16 00:00:00  1.000000e+00
25%    5.332708e+06            2017-07-04 00:00:00  2.390206e+07
50%    1.450814e+07            2018-10-29 00:00:00  6.697814e+07
75%    2.414496e+07            2019-09-21 00:00:00  1.528936e+08
max    4.826387e+07            2021-03-01 00:00:00  3.903385e+08
std    1.198676e+07                            NaN  9.080596e+07

### columns of Listings data

In [6]:
df_listing_dic = pd.read_csv('../Airbnb Data/Listings_data_dictionary.csv')
df_listing_dic

,Field,Description
0,listing_id,Listing ID
1,name,Listing Name
2,host_id,Host ID
3,host_since,Date the Host joined Airbnb
4,host_location,Location where the Host is based
5,host_response_time,Estimate of how long the Host takes to respond
6,host_response_rate,Percentage of times the Host responds
7,host_acceptance_rate,Percentage of times the Host accepts a booking...
8,host_is_superhost,Binary field to determine if the Host is a Sup...
9,host_total_listings_count,Total listings the Host has in Airbnb
10,host_has_profile_pic,Binary field to determine if the Host has a pr...
11,host_identity_verified,Binary field to determine if the Host has a ve...
12,neighbourhood,Neighborhood the Listing is in
13,district,District the Listing is in
14,city,City the Listing is in
15,latitude,Listing's latitude
16,longitude,Listing's longitude
17,property_type,Type of property for the Listing
18,room_type,Type of room type in Airbnb for the Listing
19,accommodates,Guests the Listing accomodates
20,bedrooms,Bedrooms in the Listing
21,amenities,Amenities the Listing includes
22,price,Listing price (in each country's currency)
23,minimum_nights,Minimum nights per booking
24,maximum_nights,Maximum nights per booking
25,review_scores_rating,Listing's overall rating (out of 100)
26,review_scores_accuracy,Listing's accuracy score based on what's promo...
27,review_scores_cleanliness,Listing's cleanliness score (out of 10)
28,review_scores_checkin,Listing's check-in experience score (out of 10)
29,review_scores_communication,Listing's communication with the Host score (o...
30,review_scores_location,Listing's location score within the city (out ...
31,review_scores_value,Listing's value score relative to its price (o...
32,instant_bookable,Binary field to determine if the Listing can b...

### Reading listings data

In [7]:
df_listings = pd.read_csv('../Airbnb Data/Listings.csv', encoding='latin', index_col = "listing_id",parse_dates=['host_since'])
df_listings.head()

C:\Users\4bdul\AppData\Local\Temp\ipykernel_17268\3024194951.py:1: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listings = pd.read_csv('../Airbnb Data/Listings.csv', encoding='latin', index_col = "listing_id",parse_dates=['host_since'])

,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
listing_id,,,,,,,,,,,,,,,,,,,,,
281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [8]:
pd.options.display.max_columns = None
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 279712 entries, 281420 to 40219504
Data columns (total 32 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   name                         279537 non-null  object
 1   host_id                      279712 non-null  int64
 2   host_since                   279547 non-null  datetime64[ns]
 3   host_location                278872 non-null  object
 4   host_response_time           150930 non-null  object
 5   host_response_rate           150930 non-null  float64
 6   host_acceptance_rate         166625 non-null  float64
 7   host_is_superhost            279547 non-null  object
 8   host_total_listings_count    279547 non-null  float64
 9   host_has_profile_pic         279547 non-null  object
 10  host_identity_verified       279547 non-null  object
 11  neighbourhood                279712 non-null  object
 12  district                     37012 non-null   object
 13  city                         279712 non-null  object
 14  latitude                     279712 non-null  float64
 15  longitude                    279712 non-null  float64
 16  property_type                279712 non-null  object
 17  room_type                    279712 non-null  object
 18  accommodates                 279712 non-null  int64
 19  bedrooms                     250277 non-null  float64
 20  amenities                    279712 non-null  object
 21  price                        279712 non-null  int64
 22  minimum_nights               279712 non-null  int64
 23  maximum_nights               279712 non-null  int64
 24  review_scores_rating         188307 non-null  float64
 25  review_scores_accuracy       187999 non-null  float64
 26  review_scores_cleanliness    188047 non-null  float64
 27  review_scores_checkin        187941 non-null  float64
 28  review_scores_communication  188025 non-null  float64
 29  review_scores_location       187937 non-null  float64
 30  review_scores_value          187927 non-null  float64
 31  instant_bookable             279712 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(5), object(13)
memory usage: 70.4+ MB

In [9]:
df_listings.describe()

,host_id,host_since,host_response_rate,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bedrooms,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,2.797120e+05,279547,150930.000000,166625.000000,279547.000000,279712.000000,279712.000000,279712.000000,250277.000000,279712.000000,279712.000000,2.797120e+05,188307.000000,187999.000000,188047.000000,187941.000000,188025.000000,187937.000000,187927.000000
mean,1.081658e+08,2016-04-11 13:01:44.994151680,0.865939,0.827168,24.581612,18.761862,12.595075,3.288736,1.515509,608.792737,8.050967,2.755860e+04,93.405195,9.565476,9.312869,9.701534,9.698593,9.633994,9.335364
min,1.822000e+03,2008-08-12 00:00:00,0.000000,0.000000,0.000000,-34.264400,-99.339630,0.000000,1.000000,0.000000,1.000000,1.000000e+00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,1.720656e+07,2014-07-01 00:00:00,0.900000,0.780000,1.000000,-22.964390,-43.198040,2.000000,1.000000,75.000000,1.000000,4.500000e+01,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,5.826911e+07,2016-02-14 00:00:00,1.000000,0.980000,1.000000,40.710785,2.382780,2.000000,1.000000,150.000000,2.000000,1.125000e+03,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
75%,1.832853e+08,2018-04-09 00:00:00,1.000000,1.000000,4.000000,41.908610,28.986730,4.000000,2.000000,474.000000,5.000000,1.125000e+03,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,3.901874e+08,2021-02-26 00:00:00,1.000000,1.000000,7235.000000,48.904910,151.339810,16.000000,50.000000,625216.000000,9999.000000,2.147484e+09,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
std,1.108570e+08,NaN,0.283744,0.289202,284.041143,32.560343,73.081309,2.133379,1.153080,3441.826611,31.518946,7.282875e+06,10.070437,0.990878,1.146072,0.867434,0.886884,0.833234,1.042625

#### 2. Data Cleaning:
- Handle missing values appropriately (e.g., imputation, deletion, etc.).
- Check for and handle any duplicate entries.
- Convert categorical variables into the appropriate data type if necessary.

-renaming "date" to "review_date" 

-making sure no null values

In [10]:
df_reviews.rename(columns={'date': "review_date"}, inplace=True)
df_reviews.isnull().sum()

listing_id     0
review_date    0
reviewer_id    0
dtype: int64

Check duplicated and droping them

In [11]:
df_reviews.duplicated().sum()

311

In [12]:
df_reviews.drop_duplicates(inplace=True)
df_reviews.duplicated().sum()

0

In [13]:
df_listings.duplicated().sum()

27

In [14]:
df_listings.drop_duplicates(inplace=True)
df_listings.duplicated().sum()

0

In [25]:
# df_listings['city'].value_counts()
# df_listings['host_since']
df_listings['host_location'].value_counts()

host_location
Paris, Ile-de-France, France                           47789
New York, New York, United States                      24040
Rome, Lazio, Italy                                     20135
Cape Town, Western Cape, South Africa                  13602
Rio de Janeiro, State of Rio de Janeiro, Brazil        13211
                                                       ...
Niort, Poitou-Charentes, France                            1
Gloversville, New York, United States                      1
Rangsit, Pathum Thani, Thailand                            1
Ozumba de Alzate, Estado de Mexico, Mexico                 1
BrasÃÂ­lia de Minas, State of Minas Gerais, Brazil        1
Name: count, Length: 7159, dtype: int64

In [16]:
df_listings.isnull().sum()

name                              175
host_id                             0
host_since                        165
host_location                     840
host_response_time             128771
host_response_rate             128771
host_acceptance_rate           113076
host_is_superhost                 165
host_total_listings_count         165
host_has_profile_pic              165
host_identity_verified            165
neighbourhood                       0
district                       242679
city                                0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bedrooms                        29434
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
review_scores_rating            91378
review_scores_accuracy          91686
review_scores_cleanliness       91638
review_scores_checkin           91744
review_scores_communication     91660
review_scores_location          91748
review_scores_value             91758
instant_bookable                    0
dtype: int64


Q1: what effects pricing?

Q2:

In [17]:
# df_listings_copy = df_listings.copy()
# df_listing_dist = df_listings[df_listings['district'].notna()].copy()

#### 4. Feature Engineering:
- Create new features that might be useful for analysis (e.g., average rating, occupancy rate, etc.).
- Encode categorical variables if necessary (e.g., one-hot encoding, label encoding, etc.).

#### 5. Hypothesis Testing (Optional):
- Formulate hypotheses related to the dataset based on different factors.
- Perform statistical tests (e.g., t-test, ANOVA, etc.) to test these hypotheses.

#### 6. Conclusion:
- Summarize the findings from the exploratory data analysis.
- Discuss any insights or patterns observed in the data.
- Make recommendations based on the analysis conducted.