In [58]:
!pip install geopy

Collecting geopy
  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl.metadata
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Obtaining dependency information for geographiclib<3,>=1.52 from https://files.pythonhosted.org/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl.metadata
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 679.4 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 1.6 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [105]:
import pandas as pd
import geopy

In [109]:
# install_certifi.py
#
# sample script to install or update a set of default Root Certificates
# for the ssl module.  Uses the certificates provided by the certifi package:
#       https://pypi.python.org/pypi/certifi

import os
import os.path
import ssl
import stat
import subprocess
import sys

STAT_0o775 = ( stat.S_IRUSR | stat.S_IWUSR | stat.S_IXUSR
             | stat.S_IRGRP | stat.S_IWGRP | stat.S_IXGRP
             | stat.S_IROTH |                stat.S_IXOTH )


def main():
    openssl_dir, openssl_cafile = os.path.split(
        ssl.get_default_verify_paths().openssl_cafile)

    print(" -- pip install --upgrade certifi")
    subprocess.check_call([sys.executable,
        "-E", "-s", "-m", "pip", "install", "--upgrade", "certifi"])

    import certifi

    # change working directory to the default SSL directory
    os.chdir(openssl_dir)
    relpath_to_certifi_cafile = os.path.relpath(certifi.where())
    print(" -- removing any existing file or link")
    try:
        os.remove(openssl_cafile)
    except FileNotFoundError:
        pass
    print(" -- creating symlink to certifi certificate bundle")
    os.symlink(relpath_to_certifi_cafile, openssl_cafile)
    print(" -- setting permissions")
    os.chmod(openssl_cafile, STAT_0o775)
    print(" -- update complete")

if __name__ == '__main__':
    main()

 -- pip install --upgrade certifi
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2023.5.7)
Collecting certifi
  Obtaining dependency information for certifi from https://files.pythonhosted.org/packages/ba/06/a07f096c664aeb9f01624f858c3add0a4e913d6c96257acb4fce61e7de14/certifi-2024.2.2-py3-none-any.whl.metadata
  Downloading certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.8/163.8 kB 789.0 kB/s eta 0:00:001m752.0 kB/s eta 0:00:01
Installing collected packages: certifi
  Attempting uninstall: certifi
    Found existing installation: certifi 2023.5.7
    Uninstalling certifi-2023.5.7:
      Successfully uninstalled certifi-2023.5.7
Successfully installed certifi-2024.2.2
 -- removing any existing file or link
 -- creating symlink to certifi certificate bundle
 -- setting permissions
 -- update complete

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [1]:



from geopy.geocoders import Nominatim

def get_district(city, neighborhood):
    # Initialize geocoder
    geolocator = Nominatim(user_agent="district_locator")
    
    # Construct the query string
    location_query = f"{neighborhood}, {city}"
    
    # Perform geocoding lookup
   

    location = geolocator.geocode(location_query, exactly_one=True)
    
    # Extract address components
    if location:
        address = location
        print(type(address))
        
        # Try to find the district
        district = None
        for key in ['suburb', 'city_district', 'county']:
            if key in address:
                district = address[key]
                break
        
        return district
    else:
        return None

# Example city and neighborhood names
city_name = 'New York'
neighborhood_name = 'Lower East Side'
print(city_name)
print(neighborhood_name)


# Call the function to get the district
neighborhood_district = get_district(city_name, neighborhood_name)

# Print the result
if neighborhood_district:
    print(f"The neighborhood '{neighborhood_name}' in {city_name} is located in the district: {neighborhood_district}")
else:
    print("District information not found for the given city and neighborhood.")

ModuleNotFoundError: No module named 'geopy'

#### 1. Data Loading and Initial Exploration:
- Load the selected dataset into your preferred data analysis environment.
- Explore the structure of the dataset (number of rows and columns, data types, etc.).
- Examine the first few rows of the dataset to understand its contents.

## Column Descriptions

### columns of Reviews data

In [3]:
df_reviews_dic = pd.read_csv('../Airbnb Data/Reviews_data_dictionary.csv')
df_reviews_dic

         Field  Description
0   listing_id   Listing ID
1    review_id    Review ID
2         date  Review date
3  reviewer_id  Reviewer ID

### Reading reviews data

In [4]:
df_reviews = pd.read_csv('../Airbnb Data/reviews.csv', index_col='review_id', parse_dates=['date'])
df_reviews.head()

           listing_id       date  reviewer_id
review_id
330265172       11798 2018-09-30     11863072
330103585       15383 2018-09-30     39147453
329985788       16455 2018-09-30      1125378
330016899       17919 2018-09-30    172717984
329995638       26827 2018-09-30     17542859

In [5]:
df_reviews.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 5373143 entries, 330265172 to 730320626
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   listing_id   5373143 non-null  int64
 1   date         5373143 non-null  datetime64[ns]
 2   reviewer_id  5373143 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 164.0 MB

In [6]:
df_reviews.describe()

         listing_id                           date   reviewer_id
count  5.373143e+06                        5373143  5.373143e+06
mean   1.602989e+07  2018-06-26 06:57:54.259292160  9.808133e+07
min    2.577000e+03            2008-11-16 00:00:00  1.000000e+00
25%    5.332708e+06            2017-07-04 00:00:00  2.390206e+07
50%    1.450814e+07            2018-10-29 00:00:00  6.697814e+07
75%    2.414496e+07            2019-09-21 00:00:00  1.528936e+08
max    4.826387e+07            2021-03-01 00:00:00  3.903385e+08
std    1.198676e+07                            NaN  9.080596e+07

### columns of Listings data

In [18]:
df_listing_dic = pd.read_csv('../Airbnb Data/Listings_data_dictionary.csv')
df_listing_dic

,Field,Description
0,listing_id,Listing ID
1,name,Listing Name
2,host_id,Host ID
3,host_since,Date the Host joined Airbnb
4,host_location,Location where the Host is based
5,host_response_time,Estimate of how long the Host takes to respond
6,host_response_rate,Percentage of times the Host responds
7,host_acceptance_rate,Percentage of times the Host accepts a booking...
8,host_is_superhost,Binary field to determine if the Host is a Sup...
9,host_total_listings_count,Total listings the Host has in Airbnb
10,host_has_profile_pic,Binary field to determine if the Host has a pr...
11,host_identity_verified,Binary field to determine if the Host has a ve...
12,neighbourhood,Neighborhood the Listing is in
13,district,District the Listing is in
14,city,City the Listing is in
15,latitude,Listing's latitude
16,longitude,Listing's longitude
17,property_type,Type of property for the Listing
18,room_type,Type of room type in Airbnb for the Listing
19,accommodates,Guests the Listing accomodates
20,bedrooms,Bedrooms in the Listing
21,amenities,Amenities the Listing includes
22,price,Listing price (in each country's currency)
23,minimum_nights,Minimum nights per booking
24,maximum_nights,Maximum nights per booking
25,review_scores_rating,Listing's overall rating (out of 100)
26,review_scores_accuracy,Listing's accuracy score based on what's promo...
27,review_scores_cleanliness,Listing's cleanliness score (out of 10)
28,review_scores_checkin,Listing's check-in experience score (out of 10)
29,review_scores_communication,Listing's communication with the Host score (o...
30,review_scores_location,Listing's location score within the city (out ...
31,review_scores_value,Listing's value score relative to its price (o...
32,instant_bookable,Binary field to determine if the Listing can b...

### Reading listings data

In [8]:
df_listings = pd.read_csv('../Airbnb Data/Listings.csv', encoding='latin', index_col = "listing_id",parse_dates=['host_since'])
pd.options.display.max_columns = None
df_listings.head()

/var/folders/xz/g8xpv2m149q45f7_gzw2vmkm0000gn/T/ipykernel_35314/2160722555.py:1: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listings = pd.read_csv('../Airbnb Data/Listings.csv', encoding='latin', index_col = "listing_id",parse_dates=['host_since'])

,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,district,city,latitude,longitude,property_type,room_type,accommodates,bedrooms,amenities,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
listing_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Buttes-Montmartre,NaN,Paris,48.88668,2.33343,Entire apartment,Entire place,2,1.0,"[""Heating"", ""Kitchen"", ""Washer"", ""Wifi"", ""Long...",53,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Buttes-Montmartre,NaN,Paris,48.88617,2.34515,Entire apartment,Entire place,2,1.0,"[""Shampoo"", ""Heating"", ""Kitchen"", ""Essentials""...",120,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Elysee,NaN,Paris,48.88112,2.31712,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Washer"", ""Wifi"",...",89,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Vaugirard,NaN,Paris,48.84571,2.30584,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Wifi"", ""Long ter...",58,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Passy,NaN,Paris,48.85500,2.26979,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Essentials"", ""Ha...",60,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [56]:
df_listings[df_listings['neighbourhood']=='Lower East Side']

name                             0
host_id                          0
host_since                       0
host_location                    1
host_response_time             395
host_response_rate             395
host_acceptance_rate           310
host_is_superhost                0
host_total_listings_count        0
host_has_profile_pic             0
host_identity_verified           0
neighbourhood                    0
district                         0
city                             0
latitude                         0
longitude                        0
property_type                    0
room_type                        0
accommodates                     0
bedrooms                        67
amenities                        0
price                            0
minimum_nights                   0
maximum_nights                   0
review_scores_rating           196
review_scores_accuracy         198
review_scores_cleanliness      198
review_scores_checkin          198
review_scores_communication    198
review_scores_location         198
review_scores_value            198
instant_bookable                 0
dtype: int64

In [131]:
df_listings[df_listings['district'].notnull()][['city','neighbourhood','district']]

                city    neighbourhood   district
listing_id
3457770     New York  Lower East Side  Manhattan
4173751     New York           Harlem  Manhattan
4259427     New York    Crown Heights   Brooklyn
4370230     New York           Nolita  Manhattan
5286096     New York          Midtown  Manhattan
...              ...              ...        ...
46546450    New York     Williamsburg   Brooklyn
47001322    New York     Williamsburg   Brooklyn
47015466    New York     West Village  Manhattan
47432094    New York         Bushwick   Brooklyn
18617195    New York     Williamsburg   Brooklyn

[37012 rows x 3 columns]

In [90]:
df_listings[df_listings[df_listings['neighbourhood'] == 'Elysee']]

ValueError: Boolean array expected for the condition, not object

In [47]:
df_listings[df_listings['neighbourhood'].notnull() & df_listings['district'].notnull()][['neighbourhood','district']].values[0]

array(['Lower East Side', 'Manhattan'], dtype=object)

In [42]:
list(df_listings['neighbourhood'].unique())

['Buttes-Montmartre',
 'Elysee',
 'Vaugirard',
 'Passy',
 'Temple',
 'Popincourt',
 'Buttes-Chaumont',
 'Opera',
 'Gobelins',
 'Hotel-de-Ville',
 'Pantheon',
 'Enclos-St-Laurent',
 'Batignolles-Monceau',
 'Luxembourg',
 'Reuilly',
 'Menilmontant',
 'Observatoire',
 'Palais-Bourbon',
 'Bourse',
 'Louvre',
 'Lower East Side',
 'Harlem',
 'Crown Heights',
 'Nolita',
 'Midtown',
 'Greenwich Village',
 'Williamsburg',
 'East Village',
 'Upper West Side',
 "Hell's Kitchen",
 'Park Slope',
 'Vadhana',
 'Leblon',
 'Waverley',
 'Adalar',
 'I Centro Storico',
 'Chinatown',
 'Upper East Side',
 'Southern',
 'Uskudar',
 'II Parioli/Nomentano',
 'IV Tiburtina',
 'V Prenestino/Centocelle',
 'Columbia St',
 'Inwood',
 'Bedford-Stuyvesant',
 'Astoria',
 'Little Italy',
 'Fort Greene',
 'Bushwick',
 'East Harlem',
 'Washington Heights',
 'Woodside',
 'Greenpoint',
 'Ditmars Steinway',
 'Sheepshead Bay',
 'West Village',
 'Murray Hill',
 'Prospect Heights',
 'Brooklyn Heights',
 'Richmond Hill',
 'Roosevelt Island',
 'Flatiron District',
 'Ridgewood',
 'Kips Bay',
 'Chelsea',
 'Battery Park City',
 'Long Island City',
 'Flatbush',
 'SoHo',
 'Theater District',
 'Clinton Hill',
 'Tribeca',
 'Borough Park',
 'Sunset Park',
 'Canarsie',
 'Gramercy',
 'Queens Village',
 'DUMBO',
 'Glendale',
 'Aï¿½lvaro Obregon',
 'Coyoacan',
 'Ward 115',
 'Ward 3',
 'Ward 77',
 'Ipanema',
 'Copacabana',
 'Humaita',
 'North Sydney',
 'Parramatta',
 'Sisli',
 'VII San Giovanni/Cinecitta',
 'XIII Aurelia',
 'Yau Tsim Mong',
 'Islands',
 'Benito Juarez',
 'Cuauhtemoc',
 'Ward 55',
 'Ryde',
 'Sydney',
 'Rockdale',
 'Beyoglu',
 'Flushing',
 'Wan Chai',
 'Central & Western',
 'Azcapotzalco',
 'Miguel Hidalgo',
 'Cuajimalpa de Morelos',
 'Ward 64',
 'Ward 54',
 'Recreio dos Bandeirantes',
 'Leme',
 'Barra da Tijuca',
 'Tijuca',
 'Manly',
 'Warringah',
 'Randwick',
 'Hurstville',
 'Pittwater',
 'Canterbury',
 'City Of Kogarah',
 'Fairfield',
 'Woollahra',
 'Auburn',
 'III Monte Sacro',
 'X Ostia/Acilia',
 'Jamaica',
 'Prospect-Lefferts Gardens',
 'Khlong Toei',
 'Lat Krabang',
 'Ashfield',
 'Bankstown',
 'Sutherland Shire',
 'XV Cassia/Flaminia',
 'Botafogo',
 'Iztacalco',
 'Ward 59',
 'Kadikoy',
 'Ward 61',
 'Laranjeiras',
 'Downtown Brooklyn',
 'Sunnyside',
 'Rat Burana',
 'Venustiano Carranza',
 'Ward 113',
 'Ward 105',
 'Centro',
 'Willoughby',
 'Hornsby',
 'Marrickville',
 'Liverpool',
 'VIII Appia Antica',
 'Ward 8',
 'Sariyer',
 'Besiktas',
 'Sathon',
 'Bang Sue',
 'Yan na wa',
 'Flamengo',
 'Catete',
 'Vila Isabel',
 'Leichhardt',
 'Mosman',
 'Pendik',
 'Maltepe',
 'Sham Shui Po',
 'Kowloon City',
 'Ward 15',
 'Ward 100',
 'Ward 74',
 'Ward 27',
 'Ward 84',
 'Ward 71',
 'Gloria',
 'Jacarepagua',
 'Camorim',
 'Botany Bay',
 'XIV Monte Mario',
 'Windsor Terrace',
 'Financial District',
 'Chatu Chak',
 'Bang Kapi',
 'Santa Teresa',
 'Lagoa',
 'Campo Grande',
 'Bakirkoy',
 'East New York',
 'Phasi Charoen',
 'Eastern',
 'Bang Phlat',
 'Rio Comprido',
 'Carroll Gardens',
 'Jackson Heights',
 'Jamaica Estates',
 'Khlong San',
 'Ratchathewi',
 'Huai Khwang',
 'Tlahuac',
 'Ward 107',
 'XII Monte Verde',
 'IX Eur',
 'Bang Na',
 'Phra Khanong',
 'Yuen Long',
 'Ward 83',
 'Ward 11',
 'Bagcilar',
 'Morris Heights',
 'Boerum Hill',
 'Vinegar Hill',
 'Ward 62',
 'Gavea',
 'Fort Hamilton',
 'Woodhaven',
 'Maspeth',
 'East Elmhurst',
 'Flatlands',
 'Din Daeng',
 'Pra Wet',
 'Bang Kho laen',
 'Ward 73',
 'Fatih',
 'Eyup',
 'XI Arvalia/Portuense',
 'Ozone Park',
 'Tlalpan',
 'Iztapalapa',
 'Ward 23',
 'Beylikduzu',
 'Gowanus',
 'Thon buri',
 'Ward 53',
 'Ward 21',
 'Cobble Hill',
 'La Magdalena Contreras',
 'Gustavo A. Madero',
 'Ward 69',
 'Sao Francisco Xavier',
 'Canada Bay',
 'Basaksehir',
 'Morrisania',
 'Bang Rak',
 'Burwood',
 'South Slope',
 'St. George',
 'Blacktown',
 'East Morrisania',
 'Civic Center',
 'Sao Conrado',
 'Maracana',
 'Cidade de Deus',
 'Esenyurt',
 'Bayrampasa',
 'Sai Mai',
 'Forest Hills',
 'Buyukcekmece',
 'Strathfield',
 'Cypress Hills',
 'The Hills Shire',
 'Kucukcekmece',
 'Morningside Heights',
 'Bayside',
 'Praca da Bandeira',
 'East Flatbush',
 'Bay Ridge',
 'Kensington',
 'Williamsbridge',
 'Bensonhurst',
 'Pechincha',
 'Umraniye',
 'Jardim Botanico',
 'Freguesia (Jacarepagua)',
 'Grajau',
 'Hunters Hill',
 'Urca',
 'Parthum Wan',
 'Ward 1',
 'Cosme Velho',
 'Avcilar',
 'Kartal',
 'Zeytinburnu',
 'Bangkok Noi',
 'Riachuelo',
 'Benfica',
 'Curicica',
 'Taquara',
 'Engenho de Dentro',
 'Wang Thong Lang',
 'Don Mueang',
 'Higienopolis',
 'Engenho da Rainha',
 'Quintino Bocaiuva',
 'Senador Vasconcelos',
 'Kagithane',
 'Atasehir',
 'Bang Khen',
 'Tsuen Wan',
 'Cosmos',
 'Wong Tai Sin',
 'NoHo',
 'Midwood',
 "Prince's Bay",
 'New Dorp',
 'Stuyvesant Town',
 'Two Bridges',
 'Concourse',
 'Elmhurst',
 'Kew Gardens',
 'Norwood',
 'Bang Khae',
 'Ward 57',
 'Phra Nakhon',
 'Ward 58',
 'Ku-Ring-Gai',
 'Ward 70',
 'Suanluang',
 'Bueng Kum',
 'Coney Island',
 'Kew Gardens Hills',
 'Rego Park',
 'Manhattan Beach',
 'Brighton Beach',
 'Red Hook',
 'Encantado',
 'Lane Cove',
 'Xochimilco',
 'Sampaio',
 'Holroyd',
 'Pilares',
 'Hunts Point',
 'Mott Haven',
 'Gravesend',
 'Piedade',
 'Silivri',
 'Gaziosmanpasa',
 'Cidade Nova',
 'Andarai',
 'Phaya Thai',
 'Engenho Novo',
 'Sao Cristovao',
 'Itanhanga',
 'Khan Na Yao',
 'Mangueira',
 'Gardenia Azul',
 'Praca Seca',
 'Rocha',
 'Campinho',
 'Guaratiba',
 'Ward 60',
 'Joa',
 'Ward 85',
 'Ward 4',
 'Ward 86',
 'VI Roma delle Torri',
 'Ward 2',
 'Realengo',
 'Todos os Santos',
 'Bangkok Yai',
 'Guadalupe',
 'Chom Thong',
 'Thawi Watthana',
 'Taling Chan',
 'Penrith',
 'Parada de Lucas',
 'Pavuna',
 'Estacio',
 'Jardim Guanabara',
 'Beykoz',
 'Ward 10',
 'Anil',
 'Sancaktepe',
 'Freguesia (Ilha)',
 'Vargem Pequena',
 'Meier',
 'Ward 103',
 'Lak Si',
 'Longwood',
 'Mount Eden',
 'Middle Village',
 'Dyker Heights',
 'Corona',
 'Randall Manor',
 'Saude',
 'Bath Beach',
 'Bang Khun thain',
 'Vargem Grande',
 'Sultangazi',
 'Saphan Sung',
 'Parkchester',
 'Kingsbridge',
 'Hollis',
 'Vidigal',
 'Ward 109',
 'Ward 112',
 'Rocinha',
 'North',
 'Nong Khaem',
 'Ward 48',
 'Khlong Sam Wa',
 'Lat Phrao',
 'Ward 66',
 'Inhoaiba',
 'Highbridge',
 'Navy Yard',
 'Riverdale',
 'Wakefield',
 'Bronxdale',
 'Arverne',
 'Brownsville',
 'Mariners Harbor',
 'Tompkinsville',
 'Port Morris',
 'Briarwood',
 'Tremont',
 'Great Kills',
 'Ward 5',
 'Bahcelievler',
 'Gungoren',
 'Santa Cruz',
 'Bancarios',
 'Sha Tin',
 'Sai Kung',
 'Springfield Gardens',
 'Arden Heights',
 'St. Albans',
 'Spuyten Duyvil',
 'Ward 102',
 'Lins de Vasconcelos',
 'Ward 43',
 'Zumbi',
 'Cekmekoy',
 'Madureira',
 'Paqueta',
 'Tuzla',
 'Ward 14',
 'Eastchester',
 'Arrochar',
 'Mount Hope',
 'Far Rockaway',
 'Ward 67',
 'Ward 7',
 'Tanque',
 'Camden',
 'Castleton Corners',
 'Dongan Hills',
 'Van Nest',
 'Stapleton',
 'Ward 20',
 'Laurelton',
 'Unionport',
 'Rockaway Beach',
 'South Ozone Park',
 'Jamaica Hills',
 'Vicente de Carvalho',
 'Pelham Gardens',
 'North Riverdale',
 'Abolicao',
 'Campbelltown',
 'Portuguesa',
 'Cachambi',
 'Iraja',
 "Bull's Head",
 'Douglaston',
 'Jardim Carioca',
 'Sultanbeyli',
 'Tomas Coelho',
 'Kwun Tong',
 'Kwai Tsing',
 'Milpa Alta',
 'Penha Circular',
 'Barra de Guaratiba',
 'Del Castilho',
 'Morris Park',
 'Arnavutkoy',
 'Sepetiba',
 'Ribeira',
 'Vila da Penha',
 'Ricardo de Albuquerque',
 'Sile',
 'Vigario Geral',
 'City Island',
 'Oakwood',
 'Bonsucesso',
 'Ramos',
 'Bellerose',
 'College Point',
 'Grymes Hill',
 'Tuen Mun',
 'Samphanthawong',
 'Ward 63',
 'Dusit',
 'Pom Prap Sattru Phai',
 'Monero',
 'Rosedale',
 'Taua',
 'Claremont Village',
 'Bras de Pina',
 'Todt Hill',
 'Min Buri',
 'Gamboa',
 'Ward 46',
 'University Heights',
 'Soundview',
 'Ward 44',
 'Ward 26',
 'Esenler',
 'Howard Beach',
 'Woodlawn',
 'Fieldston',
 'Edenwald',
 'Fresh Meadows',
 'Silver Lake',
 'Graniteville',
 'Grant City',
 'Pelham Bay',
 'Lighthouse Hill',
 'Maria da Graca',
 'Ward 30',
 'Thung khru',
 'Ward 72',
 'Bangu',
 'Ward 56',
 'Vasco da Gama',
 'Santissimo',
 'Baychester',
 'Westerleigh',
 'Concord',
 'New Springville',
 'Cambria Heights',
 'Jardim Sulacap',
 'Clason Point',
 'Allerton',
 'Willowbrook',
 'Penha',
 'Belle Harbor',
 'Holliswood',
 'Shore Acres',
 'Marble Hill',
 'Little Neck',
 'Catalca',
 'Magalhaes Bastos',
 'Bento Ribeiro',
 'Ward 9',
 'Ward 104',
 'Alto da Boa Vista',
 'Ward 116',
 'Ward 94',
 'Sea Gate',
 'West Brighton',
 'Concourse Village',
 'New Brighton',
 'Bayswater',
 'Ward 65',
 'Ward 78',
 'Pedra de Guaratiba',
 'Paciencia',
 'Howland Hook',
 'Woodrow',
 'Throgs Neck',
 'Emerson Hill',
 'Eltingville',
 'Tai Po',
 'Ward 22',
 'Ward 17',
 'Catumbi',
 'Clifton',
 'Fordham',
 'Pitangueiras',
 'Cacuia',
 'Whitestone',
 'Vila Valqueire',
 'Ward 108',
 'Ward 51',
 'Ward 32',
 'Nong Chok',
 'Ward 49',
 'Honorio Gurgel',
 'Galeao',
 'Vila Militar',
 'Padre Miguel',
 'Grumari',
 'Ward 92',
 'Ward 19',
 'Manguinhos',
 'Rocha Miranda',
 'Cascadura',
 'Olaria',
 'Coelho Neto',
 'Vaz Lobo',
 'Bang Bon',
 'Anchieta',
 'Praia da Bandeira',
 'Marechal Hermes',
 'Ward 75',
 'Ward 110',
 'Ward 68',
 'Westchester Square',
 'Inhauma',
 'Port Richmond',
 'Midland Beach',
 'Rosebank',
 'Edgemere',
 'Mill Basin',
 'Jacare',
 'Co-op City',
 'Olinville',
 'Parque Anchieta',
 'Belmont',
 'Bay Terrace',
 'Melrose',
 'West Farms',
 'Ward 12',
 'Cordovil',
 'Ward 76',
 'Ward 93',
 'Ward 16',
 'Ward 31',
 'Cocota',
 'New Dorp Beach',
 'Bergen Beach',
 'Cidade Universitaria',
 'Gericino',
 'Ward 6',
 'Ward 50',
 'Ward 91',
 'Santo Cristo',
 'Ward 81',
 'Ward 29',
 'Barros Filho',
 'Ward 25',
 'Ward 28',
 'Ward 82',
 'Vista Alegre',
 'Cavalcanti',
 'Huguenot',
 'Schuylerville',
 'Senador Camara',
 'Complexo do Alemao',
 'Ward 111',
 'Deodoro',
 'South Beach',
 'Vila Kosmos',
 'Osvaldo Cruz',
 'Ward 101',
 'Ward 41',
 'Gerritsen Beach',
 'Country Club',
 'Richmondtown',
 'Fort Wadsworth',
 'Ward 96',
 'Ward 38',
 'Mare',
 'Tottenville',
 'Acari',
 'Ward 45',
 'Ward 18',
 'Rossville',
 'Castle Hill',
 'Ward 40',
 'Agua Santa']

In [25]:
df_listings['instant_bookable'].value_counts()

instant_bookable
f    164105
t    115607
Name: count, dtype: int64

In [8]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 279712 entries, 281420 to 40219504
Data columns (total 32 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   name                         279537 non-null  object
 1   host_id                      279712 non-null  int64
 2   host_since                   279547 non-null  datetime64[ns]
 3   host_location                278872 non-null  object
 4   host_response_time           150930 non-null  object
 5   host_response_rate           150930 non-null  float64
 6   host_acceptance_rate         166625 non-null  float64
 7   host_is_superhost            279547 non-null  object
 8   host_total_listings_count    279547 non-null  float64
 9   host_has_profile_pic         279547 non-null  object
 10  host_identity_verified       279547 non-null  object
 11  neighbourhood                279712 non-null  object
 12  district                     37012 non-null   object
 13  city                         279712 non-null  object
 14  latitude                     279712 non-null  float64
 15  longitude                    279712 non-null  float64
 16  property_type                279712 non-null  object
 17  room_type                    279712 non-null  object
 18  accommodates                 279712 non-null  int64
 19  bedrooms                     250277 non-null  float64
 20  amenities                    279712 non-null  object
 21  price                        279712 non-null  int64
 22  minimum_nights               279712 non-null  int64
 23  maximum_nights               279712 non-null  int64
 24  review_scores_rating         188307 non-null  float64
 25  review_scores_accuracy       187999 non-null  float64
 26  review_scores_cleanliness    188047 non-null  float64
 27  review_scores_checkin        187941 non-null  float64
 28  review_scores_communication  188025 non-null  float64
 29  review_scores_location       187937 non-null  float64
 30  review_scores_value          187927 non-null  float64
 31  instant_bookable             279712 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(5), object(13)
memory usage: 70.4+ MB

In [9]:
df_listings.describe()

,host_id,host_since,host_response_rate,host_acceptance_rate,host_total_listings_count,latitude,longitude,accommodates,bedrooms,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,2.797120e+05,279547,150930.000000,166625.000000,279547.000000,279712.000000,279712.000000,279712.000000,250277.000000,279712.000000,279712.000000,2.797120e+05,188307.000000,187999.000000,188047.000000,187941.000000,188025.000000,187937.000000,187927.000000
mean,1.081658e+08,2016-04-11 13:01:44.994151680,0.865939,0.827168,24.581612,18.761862,12.595075,3.288736,1.515509,608.792737,8.050967,2.755860e+04,93.405195,9.565476,9.312869,9.701534,9.698593,9.633994,9.335364
min,1.822000e+03,2008-08-12 00:00:00,0.000000,0.000000,0.000000,-34.264400,-99.339630,0.000000,1.000000,0.000000,1.000000,1.000000e+00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,1.720656e+07,2014-07-01 00:00:00,0.900000,0.780000,1.000000,-22.964390,-43.198040,2.000000,1.000000,75.000000,1.000000,4.500000e+01,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
50%,5.826911e+07,2016-02-14 00:00:00,1.000000,0.980000,1.000000,40.710785,2.382780,2.000000,1.000000,150.000000,2.000000,1.125000e+03,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
75%,1.832853e+08,2018-04-09 00:00:00,1.000000,1.000000,4.000000,41.908610,28.986730,4.000000,2.000000,474.000000,5.000000,1.125000e+03,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,3.901874e+08,2021-02-26 00:00:00,1.000000,1.000000,7235.000000,48.904910,151.339810,16.000000,50.000000,625216.000000,9999.000000,2.147484e+09,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
std,1.108570e+08,NaN,0.283744,0.289202,284.041143,32.560343,73.081309,2.133379,1.153080,3441.826611,31.518946,7.282875e+06,10.070437,0.990878,1.146072,0.867434,0.886884,0.833234,1.042625

#### 2. Data Cleaning:
- Handle missing values appropriately (e.g., imputation, deletion, etc.).
- Check for and handle any duplicate entries.
- Convert categorical variables into the appropriate data type if necessary.

-renaming "date" to "review_date" 

-making sure no null values

In [10]:
df_reviews.rename(columns={'date': "review_date"}, inplace=True)
df_reviews.isnull().sum()

listing_id     0
review_date    0
reviewer_id    0
dtype: int64

Check duplicated and droping them

In [11]:
df_reviews.duplicated().sum()

311

In [12]:
df_reviews.drop_duplicates(inplace=True)
df_reviews.duplicated().sum()

0

In [13]:
df_listings.duplicated().sum()

27

In [14]:
df_listings.drop_duplicates(inplace=True)
df_listings.duplicated().sum()

0

In [15]:
# df_listings['city'].value_counts()
# df_listings['host_since']

In [16]:
df_listings.isnull().sum()

name                              175
host_id                             0
host_since                        165
host_location                     840
host_response_time             128771
host_response_rate             128771
host_acceptance_rate           113076
host_is_superhost                 165
host_total_listings_count         165
host_has_profile_pic              165
host_identity_verified            165
neighbourhood                       0
district                       242679
city                                0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bedrooms                        29434
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
review_scores_rating            91378
review_scores_accuracy          91686
review_scores_cleanliness       91638
review_scores_checkin           91744
review_scores_communication     91660
review_scores_location          91748
review_scores_value             91758
instant_bookable                    0
dtype: int64


Q1: what effects pricing?

Q2:

In [17]:
# df_listings_copy = df_listings.copy()
# df_listing_dist = df_listings[df_listings['district'].notna()].copy()

In [22]:
df_listings.drop(columns=
                 ['host_response_time' , 'host_response_rate', 'host_acceptance_rate','district' ,
"review_scores_rating",
"review_scores_accuracy",
"review_scores_cleanliness",
"review_scores_checkin",
"review_scores_communication",
"review_scores_location",
"review_scores_value"] , inplace=True)

In [23]:
df_listings.isnull().sum()

name                           175
host_id                          0
host_since                     165
host_location                  840
host_is_superhost              165
host_total_listings_count      165
host_has_profile_pic           165
host_identity_verified         165
neighbourhood                    0
city                             0
latitude                         0
longitude                        0
property_type                    0
room_type                        0
accommodates                     0
bedrooms                     29434
amenities                        0
price                            0
minimum_nights                   0
maximum_nights                   0
instant_bookable                 0
dtype: int64

In [32]:
df_listings.dropna(inplace=True)
df_listings.isnull().sum()

name                         0
host_id                      0
host_since                   0
host_location                0
host_is_superhost            0
host_total_listings_count    0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood                0
city                         0
latitude                     0
longitude                    0
property_type                0
room_type                    0
accommodates                 0
bedrooms                     0
amenities                    0
price                        0
minimum_nights               0
maximum_nights               0
instant_bookable             0
dtype: int64

#### 4. Feature Engineering:
- Create new features that might be useful for analysis (e.g., average rating, occupancy rate, etc.).
- Encode categorical variables if necessary (e.g., one-hot encoding, label encoding, etc.).

#### 5. Hypothesis Testing (Optional):
- Formulate hypotheses related to the dataset based on different factors.
- Perform statistical tests (e.g., t-test, ANOVA, etc.) to test these hypotheses.

#### 6. Conclusion:
- Summarize the findings from the exploratory data analysis.
- Discuss any insights or patterns observed in the data.
- Make recommendations based on the analysis conducted.